/* CSS styles for the sales page */
body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
  }
  
  /* Updated styles */
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .product-screen {
    display: flex;
    align-items: flex-start;
  }



  .logo-img {
    display: inline-block;
    margin-top: 5px;
    width: 40px; /* Adjust the width as needed */
    height: 40px; /* Adjust the height as needed */
    margin-left: 5px; /* Adjust the margin as needed */
    vertical-align: middle;
  }
  .cart-screen {
    background-color: #fff;
    width: 300px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .cart-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
  }
  
  .product {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .image-container {
    position: relative;
    width: 600px;
    height: 600px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .product img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 5px;
  }
  
  .image-buttons {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
  }
  
  .image-buttons button.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  .image-buttons button {
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  
  .image-buttons button.prev-button {
    background-image: url("/icons/prevPage.png");
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .image-buttons button.next-button {
    background-image: url("/icons/nextPage.png");
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .cart-content h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .count-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .count-button {
    padding: 5px 10px;
    background-color: #eee;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 5px;
  }
  
  .add-to-cart {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
  }
  
  .add-to-cart:hover {
    background-color: #45a049;
  }
  