@model IEnumerable<Services.Viewmodel.UserVM>

@{
    ViewData["Title"] = "Index";
    
    Layout = "_AdminLayout";

}
<div style="margin:50px">

    <table class="table">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Kullanıcı Adı
                </th>
                <th>
                    Kullanıcı Soyadı
                </th>
              
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                   
                    <td>                      
                       <a class="btn btn-secondary" asp-action="Delete" asp-route-id="@item.Id">sil</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
