<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HepsiOrada</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebFinal.styles.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/css/UserCSS/navBar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />


</head>
<body>
    <header>
        @*Navbar*@
        <nav class="navbar">
            <div class="navbar-brand">
                <a href="#" class="logo">HepsiOrada</a>
            </div>
            <ul class="navbar-menu">
                <li><a href="#" class="active">Ana sayfa</a></li>
                <li><a href="#">Elektronik</a></li>
                <li><a href="#">Moda</a></li>
                <li><a href="#">Spor, Outdoor</a></li>
                <li><a href="#">Kitap, Müzik, Film, Hobi</a></li>
            </ul>
            <div class="search-box">
                <input type="text" placeholder="Search..." class="search-input">
                <button class="search-button">Ara</button>
                <a href="#" class="cart-icon"><i class="fas fa-shopping-cart"></i></a>
                <div class="user-control">
                    <a href="#" class="user-icon"><i class="fas fa-user"></i></a>
                    <div class="dropdown">
                        <ul class="dropdown-menu">
                            <li><a href="#">Hesabım</a></li>
                            <li><a href="#">Sepet</a></li>
                            <li><a href="#">Giriş Yap</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*Footer Side*@
    <footer class="border-top footer text-muted">
       

    </footer>
    <script src="~/js/navbarScripts.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
